@{
    ViewBag.Title = "Home Page";
}
<div class="row" style="padding-top:15px;vertical-align:middle">
    <div class="col-md-2">
        <img src="~/Images/AppService.png" style="max-height:125px" alt="Azure App Service" />
    </div>
    <div class="col-md-10">
        <h1>Azure App Service</h1>
        <p>Azure App Service is the only cloud service that integrates everything you need to quickly and easily build web and mobile apps for any platform and any device. Built for developers, App Service is a fully managed platform with powerful capabilities such as built-in DevOps, continuous integration with Visual Studio Online and GitHub, staging and production support, and automatic patching.</p>
        <br />
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="thumbnail" style="background-color:lightslategray">
            <img src="~/Images/WebApp.png" style="max-height:90px" alt="Web Apps" />
            <div class="caption">
                <h3>Web Apps</h3>
                <p>Web Apps is...</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="thumbnail">
            <img src="~/Images/APIApp.png" style="max-height:90px" alt="API Apps" />
            <div class="caption">
                <h3>API Apps</h3>
                <p>API Apps is...</p>
            </div>
        </div>
    </div><div class="col-xs-6 col-sm-3 col-md-3">
    <div class="thumbnail">
        <img src="~/Images/MobileApp.png" style="max-height:90px" alt="Mobile Apps" />
        <div class="caption">
            <h3>Mobile Apps</h3>
            <p>Mobile Apps is...</p>
        </div>
    </div>
</div><div class="col-xs-6 col-sm-3 col-md-3">
    <div class="thumbnail">
        <img src="~/Images/LogicApp.png" style="max-height:90px" alt="Logic Apps" />
        <div class="caption">
            <h3>Logic Apps</h3>
            <p>Logic Apps is...</p>
        </div>
    </div>
</div>
</div>